textbook.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="textBookList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="authorName"/>
              <xs:element type="xs:string" name="authorLastName"/>
              <xs:element type="xs:string" name="publisher"/>
              <xs:element type="xs:anyURI" name="website"/>
              <xs:element type="xs:int" name="year"/>
              <xs:element type="xs:string" name="isbn"/>
              <xs:element type="xs:string" name="edition"/>
              <xs:element type="xs:string" name="covertype"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>